@use '@/styles/variables' as vars;

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-bg);
}

.workspace {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-height: 0;
}

.canvasArea {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-width: 0;
  position: relative;
}

